


body{
     margin: 0px;
     padding: 0px;
}

.top-container{
    background-color: skyblue;
   margin: 0px;
    padding-bottom: 0;
    background-image: url(images/clipart-free-mountain-10.png);
    background-position: bottom;
    background-size: cover;
    
}

nav ul{
    margin: 0%;
    text-align: right;
}

.nav{
    text-decoration: none;
    color:rgb(255, 255, 255);
}


.nav:hover{
    color: gold;
    font-size: 2.5rem;
}


.li{
    display: inline-block;
    font-family: 'Patrick Hand',cursive;
    font-size: 2rem;
    font-weight: bolder;
    margin-inline-end: 1rem;
    
}


.bottom-cloud{
    position: relative;
    
    left: 30%;
}



.intro{
    
    margin-left: 10%;
}

.intro h1{
    font-family: 'Sacramento', cursive;
    font-size: 5rem; 
}



.intro p{
    font-family: 'Patrick Hand',cursive;
    font-size: 2rem;
    font-weight: bold;
    color: gold;
    letter-spacing: .25rem;
}




.main{
   
    margin: 0px;
}

#main-h2{
    font-family: 'Patrick Hand', cursive;
    color:rgb(255, 0, 0);
    font-size: 2rem;
}

.products{
    margin:0 10% 0 10%
    
}

.item-img{
    border-radius: 100%;
    
}

.item-des{
    font-family: 'Patrick Hand';
    vertical-align:middle;
    font-size: 3rem;
    color: brown;
}



hr{
    color: white;
    border-top: 1px solid lightgray;
    
}

.section{

    padding: 1% 10% 5% 10%;
    margin: 5% 0 5% 0;
    background-image: linear-gradient(rgb(8, 119, 255),grey);
    text-align: center;
    margin: 0px;
   
    
}

.section-review{
    display: flex;
    justify-content: space-around;
}

#section-h{
    font-size: 2rem;
    font-weight: bold;
}

#section-h1{color: gold;

}

#section-h2{
    color: white;
}

.review{
    border:1px solid white;
    border-radius: 10px;
    margin-right: 2%;
    color: white;
    
}







.footer{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgb(237, 18, 113),rgb(255, 110, 27));
    color: white;
    margin: 0px;
    padding: 1% 15% 2% 15%;
    font-family: 'Roboto';

}

.address a{
    text-decoration: none;
    color: aqua;
}

.author{
    display: flex;
    justify-content: center;
}

.authorname{
    font-family: 'Sacramento' ;
    letter-spacing: 0.25rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
